.welcome-page {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.welcome-callout {
  display: grid;
  width: 80%;
  height: 80%;
}

.game-page-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
}

.snake-game-container {
  display: grid;
}

.snake-game-cell {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.snake-game-food {
  background-color: orange;
}

.left-sidebar {
  background-color: lightblue;
}